@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');
* {
  font-family: 'Poppins',sans-serif;
  font-weight: 300;
  border-radius: 5px;
}

header {
  text-align: center;
}

hr{
  border: 1px solid #ccc;
  width: 98%;
  align-items: center;
}

.container {
  width: auto;
}

.card {
  padding: 40px;
  margin-top: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 45%;
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

}

.card-wrap {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

input {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* margin-right: 100px; */
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.pad-right {
  padding-right: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

select {
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
  border: 1px solid #ccc;
}

.cont-2 {
  padding-top: 5px;
}

.jumlah {
  margin: 5px;
}

.cont-3 {
  padding-left: 30px;
}

.btn-1 {
  background-color:rgb(255, 206, 70);
}

button {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0;
  text-align: center;
  width: max-content
}

.btn-2 {
  background-color: rgb(0, 42, 255);

  color: white;
}

.btn-3 {
  margin-top: 10px;
  padding: 2px 12px !important;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 4px;
}

.btn-1:hover {
  background-color: rgb(253, 186, 0);
}

.btn-2:hover {
  background-color: rgb(4, 39, 213);
}

.btn-3:hover {
  background-color: #fdf4f4;
  border: 2px solid rgb(255, 44, 44);
}

.pd-top {
  margin-top: 18px;
}